body {
    background: linear-gradient(120deg,#f5f7fa,#c3cfe2);
    font-family: 'Segoe UI', sans-serif;
    
}

.container {
    max-width: 1200px;
    margin: 40px auto;
}

.card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: #fff;
    background: #3897f0;
    padding: 8px 16px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 10px;
}


/*=====================Admin page CSS================ */


.dashboard-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.stat-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.stat-card h3 {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.stat-card p {
    font-size: 28px;
    font-weight: bold;
    color: #111;
}
